.backgroundImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.header {
  background-color: rgba($color: #000, $alpha: 0.7);
  backdrop-filter: blur(10px);
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  padding-left: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  display: flex;
  flex-direction: column;
}
