.container {
  margin: 150px;
}

.body {
  background-color: rgba(#fff, 0.7);
  display: flex;
  flex-wrap: wrap;
  padding: 100px 50px;
  gap: 100px 50px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    margin: 20px;
  }
}
